{% include 'your-first-pairing-session.md' %}
{% include 'pairing-session-template.md' %}
{% include 'pair-programming-styles.md' %}
{% include 'pair-programming-anti-patterns.md' %}
{% include 'how-to-pair-with-a-junior-dev.md' %}